.modal  {
    width: 90%;
    max-width: 90%;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    position: fixed;
    top: 20vh;
    left:5%;
    z-index: 100;
}

.modal-header{
    padding: 1rem;
    background-color:beige
}
.modal-header h1{
    margin: 0;
    font-size: 1.25rem;
}

.modal_content{
    padding: 1rem;
}

.modal_actions{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.modal-button  {
    background-color: aquamarine;
    border: 1px solid aquamarine;
    margin: 0 0 0 0.2rem;
    font-weight: bold;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26)
}


@media(min-width: 768px) {
    .modal {
        width: 30rem;
        left: calc((100% - 30rem) /2);
    }
}