.event-list{
    width: 40rem;
    max-width: 90%;
    margin: 2rem auto;
    list-Style: none;
    padding: 0;
    align-items: center;
}

.event-list-item{
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid aquamarine;
    background-color: beige;   
}

.event-item{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}

.event-item p{
    color: grey
}

.event-description{
    margin-top: 1rem;
    position: right;
    color: grey;
}